@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }
  
  body {
    @apply bg-white text-neutral-900 font-sans;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2;
  }
}
